/target/
/5COSC022W-Smart-Campus-Project/target/

nbproject/private/
nbactions*.xml
nb-configuration.xml

/Cw doc/

.DS_Store
Thumbs.db
Desktop.ini

*.iml
.idea/
.vscode/
.settings/
.classpath
.project
Smart_Campus_API.postman_collection.json
video_script.md
coursework_report.md
Demo_Presentation.postman_collection.json
PRESENTATION_SCRIPT.md
